.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    width: 1000px; /* Increased width */
    background: #DD7E37;
    padding-bottom: 30px;
    align-items: center;
}

.header {
    font-size: 40px; /* Adjust as needed */
    color: #fff; /* Text color for the header */
    margin-bottom: 20px; /* Space between header and buttons */
    text-align: center; /* Center the header text */
}

.button-container {
    display: flex; /* Use flexbox for horizontal alignment */
    justify-content: space-between; /* Space out buttons evenly */
    width: 100%; /* Full width of the container */
    flex-wrap: nowrap; /* Prevent wrapping to next line */
}

.Location {
    flex: 1; /* Allow buttons to grow equally */
    padding: 15px;
    margin: 10px;
    background-color: #fff;
    color: #a03333;
    border: none;
    border-radius: 5px;
    font-size: 40px; /* Adjusted for better fit */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dropdown {
    display: flex; /* Use flexbox for input alignment */
    flex-direction: column; /* Stack inputs vertically */
}

.dropdown input {
    margin-top: 5px; /* Space between inputs */
}
